---
layout: persian_layout
---

<div class="posts">
  {% assign articles = site.posts | where:'language', 'persian' %}
  {% for post in articles limit:5 %}
    <div class="post">
      <h2 class="post-header"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="post-meta">
          <div class="post-tags">[ {% for tag in post.tags %} <a href="/tags/{{tag}}" class="post-tag">#{{tag}}</a> {% endfor %} ]</div>
        <div class="post-date">{{ post.date-day }} {{ post.date-month }} {{ post.date-year }}</div>
      </div>
      <div class="post-content">{{ post.excerpt }}</div>
      <div class="post-more clearfix"><a href="{{ post.url }}" class="btn btn-outline-light float-left"><i class="fas fa-glasses"></i> بیشتر بخوانید...</a></div>
    </div>
  {% endfor %}
  {% if articles.size > 5 %}
  <h2 class="sahel">مطالب گذشته</h2>
  <table id="old-posts" class="list-unstyled">
    {% for post in articles offset:5 %}
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span>{{ post.date-month }} {{ post.date-year }}</span></td><td><a href="{{ post.url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
