@import "fonts/fonts.css";
@import "highlighter.css";

html {
  height: 100%;
}

body {
  background-color: rgb(27,21,31); /*firefox #1B151F*/
  /* background-color: #131019; //chrome */
  /* background-color: #17131C; */
  color: #F4F4F4;
  font-family: 'Shabnam', 'Roboto';
  position: relative;
  min-height: 100%;
}

body::after {
  content: '';
  display: block;
  height: 100px;
}

.sahel {
  font-family: 'Sahel'
}

#main-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#main-menu .navbar-brand,
#main-menu-post .navbar-brand {
  font-family: 'Sahel', 'Volkhov';
  font-weight: bold;
  font-size: 2em;
}


#main-menu a,
#main-menu .fas,
#main-menu-post a,
#main-menu-post .fas {
  color: white;
}

#content,
#content-post {
  direction: ltr;
  text-align: left;
  min-height: 100%;
}

#content-post {
  margin-top: 75px;
}

.post {
  margin-bottom: 75px;
  margin-top: 25px;
  position: relative;
}

.post-content p::selection, .post-content a::selection, .post-content code::selection {
  color: #000;
  background: white;
}

.post-meta {
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.5);
}

.post-category, .post-date {
  padding: 2px 5px 1px 5px;
  display: inline-block;
}

.post-date {
  margin-right: 25px;
}

.post-header {
  display: inline-block;
  line-height: 49px;
  margin-bottom: 0;
}

.post-header a {
  font-family: 'Sahel','Volkhov';
  font-weight: normal;
  font-size: 1em;
  /* color: #1b151f; */
  color: rgba(237,206,144,1);
  padding: 0 5px;
  background-image: linear-gradient(120deg, #2F3745 0%, #2F3745 100%);
  background-repeat: no-repeat;
  background-size: 1em 100%;
  background-position: left;
  transition: background-size 0.25s ease-in;
}

.post-header.posted-header {
  font-family: 'Sahel','Volkhov';
  font-weight: normal;
  font-size: 2em;
  /* color: #1b151f; */
  color: rgba(237,206,144,1);
  padding: 0 5px;
}

.post-header a:hover {
  text-decoration: none;
  background-size: 100% 100%;
}

.post-content {
  display: block;
  margin-top: 15px;
}

.post-content a {
  color: #EDBE5F;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.post-content a:hover {
  text-decoration: none;
  background-color: rgba(237,190,95, 0.1);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

code {
  direction: ltr;
  text-align: left;
  display: block-inline;
}

.post .highlight {
  direction: ltr;
  text-align: left;
}

.post .highlight pre {
  padding: 5px;
  border-radius: 3px;
}

.post code.highlighter-rouge {
  color: #EDDEC0;
  direction: ltr;
  text-align: left;
  display: block-inline;
  background-color: #2B252F;
  padding: 2px 5px;
}

code, kbd, pre, samp {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  line-height: 1.2em;
}

.footer {
  height: 100px;
  position: absolute;
  width: 100%;
  font-size: 0.89em;
  overflow: hidden;
  bottom: 0;
}

.footer .skew {

  background-color: #CAA902;
  transform: skewY(3.5deg);
  display: block;
  position: absolute;
  height: 100px;
  bottom: -50px;
  left: 0;
  right: 0;
  top: 50px;
}

.footer p {
  margin: 0;
  transform: skewY(-3.5deg);
  line-height: 50px;
  vertical-align: bottom;
}

#old-posts {
  margin-bottom: 35px;
}

#old-posts span {
  color: rgba(255, 255, 255, 0.5);
}

#old-posts a {
  font-family: 'Volkhov';
  margin-left: 25px;
  font-weight: normal;
  color: #EDDEC0;
}

#old-posts a:hover {
  text-decoration: none;
  color: #EDBE5F;
}

.nav-link {
  text-align: right;
}

.post-tag {
  font-family: monospace;
  font-size: 12px;
  color: yellowgreen;
  margin-left: 5px;
  margin-right: 5px;
}

.post-tag:hover {
  text-decoration: none;
  color: yellow;
}

.tags {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.tags .tag {
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;
  color: rgba(255, 255, 255, .6);
}

.tags .tag:hover {
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, .8), 0 0 20px rgba(255, 255, 255, .7);
}