body,
.sans-serif {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 680px;
}

.navbar {
  min-height: 100px;
}

.navbar-brand, 
.post-header,
.serif {
  font-family: 'Merriweather', serif;
}

.post-date {
  font-size: 0.9em;
}

.post-content img {
  width: 100%;
  max-width: 680px;
}

.monospace {
  font-family: 'JetBrains Mono', monospace;
}

.highlight * {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

.highlight pre {
  margin: 0;
}

.highlight>pre {
  padding: 5px 15px;
}

.highlight .gutter {
  padding-right: 10px;
  padding-left: 5px;
}

.book .card-img {
  width: 120px;
  height: 160px;
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.book:hover .card-img-overlay {
  animation: fadeout ease-out 300ms;
  opacity: 0;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  margin-top: 1em;
}

.post-header-img {
  height: 203px;
  position: relative;
  background-repeat: no-repeat;
}

.post-header-img a {
  position: absolute;
  bottom: 30px;
}