body,
.sans-serif {
  font-family: 'Epilogue', sans-serif;
  background-color: #faf6f4;
}

.container {
  max-width: 680px;
}

.navbar {
  min-height: 100px;
}

.navbar-brand,
.post-header,
.serif {
  font-family: 'Fraunces', serif;
}

.post-date {
  font-size: 0.9em;
}

.post-content p {
  font-family: 'Epilogue', sans-serif;
  color: #4c4e67;
  size: 18px;
  line-height: 28px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0;
}

.post-content img {
  width: 100%;
  max-width: 680px;
}

.monospace {
  font-family: 'JetBrains Mono', monospace;
}

figure.highlight {
  margin: 24px 0 32px 0;
}

.highlight * {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

.highlight pre {
  margin: 0;
}

.highlight>pre {
  padding: 32px 15px;
  border: none;
  background-color: #FAFAFA;
}

.highlight .gutter {
  padding-right: 10px;
  padding-left: 5px;
}

.book .card-img {
  width: 120px;
  height: 160px;
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.book:hover .card-img-overlay {
  animation: fadeout ease-out 300ms;
  opacity: 0;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  margin-top: 1em;
  font-weight: 700;
  vertical-align: baseline;
}

h1 {
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -1.1px;
  word-spacing: 1.1px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75px;
  word-spacing: 0.75px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.50px;
  word-spacing: 0.50px;
}

.post-header-img {
  height: 203px;
  position: relative;
  background-repeat: no-repeat;
}

.post-header-img a {
  position: absolute;
  bottom: 30px;
}

.normal-text-spacing {
  letter-spacing: normal;
  word-spacing: normal;
}