---
layout: persian_layout
---

<div class="post">
  <h2 class="post-header posted-header">{{ page.title }}</h2>
  <div class="post-meta">
    <div class="post-tags">[ {% for tag in page.tags %} <a href="/tags/{{tag}}" class="post-tag">#{{tag}}</a> {% endfor %} ]</div>
    <span class="post-date">{{ page.date-day }} {{ page.date-month }} {{ page.date-year }}</span>
  </div>
  <div class="post-content">{{ page.content }}</div>
</div>


<script src="https://utteranc.es/client.js"
        repo="akrami/akrami.github.io"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
